@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-on-surface font-inter;
  }
}

.technical-grid {
  background-image: 
    linear-gradient(to right, rgba(33, 38, 45, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(33, 38, 45, 0.3) 1px, transparent 1px);
  background-size: 24px 24px;
}

.glow-primary {
  box-shadow: 0 0 8px 0 rgba(0, 240, 255, 0.4);
}
